# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
env/
venv/
.venv/
backend/env/

# Environment variables
.env

# Django
db.sqlite3

# Media
backend/media/

# VS Code
.vscode/

# Node
node_modules/

# Logs
*.log